<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>IVA30 Fail</title>
        <style type="text/css" media="print, screen">
           {{~> assets/stylesheets/core-styles this}}
       </style>
    </head>

    <body>
        <h1> Hello! </h1>
    </body>
</html>